html{
    background-color: #BC7FCD;
    font-family: cursive;
    color: white;
}
h1{
    text-align: center;
}
.country{
    text-align: center;
    
}
.box{
    display: inline-block;
    width: 200px;
    height: 150px;
    margin: 23px;
}
@media (max-width:600px){
    .box{
        margin: 20px;
    }
}
.flag{
    width: 200px;
    height: 125px;
}
#palau{
    background-color: skyblue;
    position: relative;
}
#palau > div{
    background-color: #FFC000;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: relative;
    left: 37.5px;
    top: 25px;
}
#japan{
    background-color: white;
    position: relative;
}
#japan > div{
    background-color: red;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: relative;
    left: 62.5px;
    top: 25px;
}
#ukraine{
    background-color: #0066cc;
    position: relative;
}
#ukraine > div{
    background-color: #ffcc00;
    width: 200px;
    height: 62.5px;
    position: relative;
    top: 62.5px;
}
#latvia{
    background-color: #9D2235;
    position: relative;
}
#latvia > div{
    background-color: white;
    width: 200px;
    height: 25px;
    top: 50px;
    position: relative;
}
#nigeria{
    background-color: #008000;
    position: relative;
}
#nigeria > div{
    background-color: white;
    width: 66.66px;
    height: 125px;
    left: 66.66px;
    position: relative;
}
#peru{
    background-color: #D91023;
    position: relative;
}
#peru > div{
    background-color: white;
    width: 66.66px;
    height: 125px;
    left: 66.66px;
    position: relative;
}
#poland{
    background-color: red;
    position: relative;
}
#poland > div{
    background-color: white;
    width: 200px;
    height: 62.5px;
    position: relative;
}
#monaco{
    background-color: #ce1126;
    position: relative;
    width: 156.25px;
    margin: auto;
}
#monaco > div{
    background-color: white;
    width: 156.25;
    height: 62.5px;
    top: 62.5px;
    position: relative;
    
}
#indonesia{
    background-color: #FF0000;
    position: relative;
}
#indonesia > div{
    background-color: white;
    width: 200px;
    height: 62.5px;
    top: 62.5px;
    position: relative;
}
#austria{
    background-color: red;
    position: relative;
}
#austria > div{
    background-color: white;
    width: 200px;
    height: 41.66px;
    top: 41.66px;
    position: relative;
}
#bangladesh{
    background-color: #006a4e;
    position: relative;
}
#bangladesh > div{
    background-color: #f42a41;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: relative;
    left: 37.5px;
    top: 25px;
}
#finland{
    background-color: white;
    position: relative;
}
#finland1{
    background-color: #003580;
    width: 200px;
    height: 33.33px;
    position: absolute;
    top: 45.45px;
}
#finland2{
    background-color: #003580;
    width: 33.33px;
    height: 125px;
    position: absolute;
    left: 55.55px;
}
#sweden{
    background-color: #006AA7;
    position: relative;
}
#sweden1{
    background-color: #FFCD00;
    width: 200px;
    height: 33.33px;
    position: absolute;
    top: 45.45px;
}
#sweden2{
    background-color: #FFCD00;
    width: 33.33px;
    height: 125px;
    position: absolute;
    left: 55.55px;
}
#belgium{
    background-color: black;
    position: relative;
}
#belgium1{
    background-color: #FDDA24;
    width: 66.66px;
    height: 125px;
    position: absolute;
    left: 66.66px;
}
#belgium2{
    background-color: #EF3340;
    width: 66.66px;
    height: 125px;
    position: absolute;
    left: 133.32px;
}
#yemen{
    background-color: white;
    position: relative;
}
#yemen1{
    background-color: #CE1126;
    width: 200px;
    height: 41.66px;
    position: absolute;
}
#yemen2{
    background-color: black;
    width: 200px;
    height: 41.66px;
    position: absolute;
    top: 82.72px;
}
#netherlands{
    background-color: white;
    position: relative;
}
#netherlands1{
    background-color: #AD1D25;
    width: 200px;
    height: 41.66px;
    position: absolute;
}
#netherlands2{
    background-color: #1E4785;
    width: 200px;
    height: 41.66px;
    position: absolute;
    top: 82.72px;
}
#switzerland{
    background-color: #FF0000;
    position: relative;
    width: 125px;
    margin: auto;
}
#switzerland1{
    background-color: white;
    width: 23.4375px;
    height: 78.125px;
    position: absolute;
    top: 23.4375px;
    left: 50.78125px;
}
#switzerland2{
    background-color: white;
    width: 78.125px;
    height: 23.4375px;
    position: absolute;
    top: 50.78125px;
    left: 23.4375px;
}
#germany{
    background-color: #FF0000;
    position: relative;
}
#germany1{
    background-color: black;
    width: 200px;
    height: 41.66px;
    position: absolute;
}
#germany2{
    background-color: #FFCC00;
    width: 200px;
    height: 41.64px;
    position: absolute;
    top: 84px;
}